@font-face{
	font-family: "ChalkDust";
	src: url("../fonts/ChalkDust.ttf") format("truetype");
}

@font-face{
	font-family: "Eraser";
	src: url("../fonts/Eraser.ttf") format("truetype");
}

@font-face{
	font-family: "erasdust";
	src: url("../fonts/erasdust.ttf") format("truetype");
}

body{
	background: #000000  url("../img/blackboard.jpg") no-repeat fixed center;	
	background-size: cover;
	font-family: "erasdust" !important;
	font-size: x-large !important;
	color: white;/* !important;*/
}

#bg{
}

a{color:#aabbff;text-decoration:none}
a:hover{color:#faf0a8}
a:focus{color:#aabbff}

.title{
	font-family: "erasdust";
	color:white;
}

.titulo{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 90px;
}

.atividade{
	width:200px;
	height:200px;
	float:left;
	position:relative;
	left:0px;
	top:0px;
}

.linhaAtividades{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.flagAtividade{
	position:relative;
	margin-top: 12px;
	margin-left: 4px;
	font-family: "erasdust";
	color:white;
	font-size: 50px;
}

.flagAtividade .img{
	float:left;
}

.timer {
	position:relative;
	font-size: 200px;
	width:1em;
	height:1em;
	float: left;
}

.timer > .percent {
	position: absolute;
	top: 0.131em;
	left: 0;
	width: 0.416em;
	font-size: 0.037em;
	text-align:center;
}

.timer > #slice {
	position:absolute;
	width:0.125em;
	height:0.125em;
	clip:rect(0px,0.125em,0.125em,0.062em);
}

.timer > #slice.gt50 {
	clip:rect(auto, auto, auto, auto);
}

.timer > #slice > .pie {
	border: 0.012em solid #dddddd;
	position:absolute;
	width:0.1em; /* 1 - (2 * border width) */
	height:0.1em; /* 1 - (2 * border width) */
	clip:rect(0em,0.062em,0.125em,0em);
	-moz-border-radius:0.062em;
	-webkit-border-radius:0.062em; 
	border-radius:0.062em; 
}

.timer > #slice > .pie.fill {
	-moz-transform:rotate(180deg) !important;
	-webkit-transform:rotate(180deg) !important;
	-o-transform:rotate(180deg) !important;
	transform:rotate(180deg) !important;
}

.timer.fill > .percent {
	display: none;
}

.timer.fill > #slice > .pie {
	border: transparent;
	background-color: #dddddd;
	width:0.125em;
	height:0.125em;
}

#container{
	margin-left:auto;
	margin-right:auto;
	width:1020px !important;
}

#slide{
	width:1020px;
	margin-top:35px;
}

#textblock{
	font-size: x-large !important;
}

#arrow_next{
	float:right;
	position:relative;
	right:-30px;
	
}

#arrow_back{
	float:left;
	position:relative;
	left:160px;
}

#vejaMais{
	float:left;
	position:relative;
	width:480px;
	left:160px;
}

#imgNext{
	transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
}

#tabContent{
	position:relative;
	top:-15px;
	left:0px;
	float:left;
	width:770px;
	height:380px;
}

#tabText{
	font-size: 28px !important;
	text-align: justify !important;
	height:375px !important;
}

#tabs {
	float:right;
	position:relative;
	top:-53px;
	left:-30px;
}

#tabs ul {
	list-style-type:none;
}

#tabs li {
	height:34px;
	color:#aabbff;
}

#tabs li:hover{
	color:#faf0a8;
}

#controles {
	position:absolute;
	top:348px;
	left:285px;
	float:left;
	width:300px !important;
}
