[Desktop Entry]
Encoding=UTF-8
Name=Link to  
Type=Link
URL=file:///home/zeff/Dropbox/ActiveWorkspace/Projeto%20Biotecnologia/WebContent/img/seta.png
Icon=image-png
